In [4]:
def add_number(x,y,z,a):
    return x+y+z-a
add_number(1,2,3,4,)

2

In [8]:
def one_more(x,y,z=None, a=None):
    if (z==None):
        return x + y
    if (a == None):
        return x-y 
    else:
        return x+y+z+a
print(one_more(2,3))
print(one_more(2,3,4,5))
print(one_more(2,3,None,5))
print(one_more(2,3,5,None))

5
14
5
-1

In [9]:
def try_this(x,y):
    return x+y

z = try_this
z(3,4)

7

In [10]:
type("this is superman")

str

In [11]:
type(3)

int

In [12]:
type(1.0)

float

In [13]:
type("1.0")

str

In [14]:
type(one_more)

function

In [18]:
x = (1, '1', 42, 'a')
type(x)

tuple

In [19]:
x = [1, '1', 42, 'a']
type(x)

list

In [21]:
x.append(3.3)
print(x)

[1, '1', 42, 'a', 3.3, 3.3]

In [22]:
x.append("hello")
print(x)

[1, '1', 42, 'a', 3.3, 3.3, 'hello']

In [23]:
for things in x:
    print(things)

1
1
42
a
3.3
3.3
hello

In [24]:
for things in x:
    print(x)

[1, '1', 42, 'a', 3.3, 3.3, 'hello']
[1, '1', 42, 'a', 3.3, 3.3, 'hello']
[1, '1', 42, 'a', 3.3, 3.3, 'hello']
[1, '1', 42, 'a', 3.3, 3.3, 'hello']
[1, '1', 42, 'a', 3.3, 3.3, 'hello']
[1, '1', 42, 'a', 3.3, 3.3, 'hello']
[1, '1', 42, 'a', 3.3, 3.3, 'hello']

In [29]:
i=0
while(i != len(x)):
    print(x[i])
    i = i+1

1
1
42
a
3.3
3.3
hello

In [31]:
[1,2]+[3,4]+[5,6]

[1, 2, 3, 4, 5, 6]

In [33]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

In [35]:
5 in [1,2,3]

False

In [43]:
x = 'Praveen Kumar Neelappa'

In [44]:
x[-1]

'a'

In [45]:
x[0]

'P'

In [46]:
x[-4:-2]

'ap'

In [47]:
print(x[0:1])

P

In [49]:
x[8:]

'Kumar Neelappa'

In [58]:
firstname = 'Praveen'
middlename = 'Kumar'
lastname ='Neelappa'

print(firstname +' '+ lastname)
print(firstname[0:4]+' '+middlename +' '+lastname)

print('Prave' in firstname)
print(lastname * 3)

Praveen Neelappa
Prav Kumar Neelappa
True
NeelappaNeelappaNeelappa

In [67]:
name = 'Praveen Kumar Neelappa'.split()[0:2]
name

['Praveen', 'Kumar']

In [71]:
'Praveen' + str(2)

'Praveen2'

In [74]:
x ={'Praveen': 'pnkumar@outlook.com', 'test': 'test@test.com'}
x['test']

'test@test.com'

In [77]:
x['test'] = None
x['test']
x

{'Praveen': 'pnkumar@outlook.com', 'test': None}

In [78]:
for name in x:
    print(name)

Praveen
test

In [81]:
for mail in x.values():
    print(mail)

pnkumar@outlook.com
None

In [83]:
for n,m in x.items():
    print(n)
    print(m)

Praveen
pnkumar@outlook.com
test
None

In [84]:
x = ('praveen', 'kumar', 'neelappa')
first, middle, last =x

In [85]:
first

'praveen'

In [86]:
middle

'kumar'

In [87]:
x = ('praveen', 'kumar', 'neelappa', 'pnkumar@outlook.com')
first, middle, last =x

ValueError: too many values to unpack (expected 3)

In [92]:
# work on The Python Programming Language: More on Strings

In [93]:
import numpy as np

In [98]:
mylist = [1,2,3]
x = np.array(mylist)
print(x)
type(x)

numpy.ndarray

In [105]:
y=np.array([[4,5,6],[7,5,9]])
y

array([[4, 5, 6],
       [7, 5, 9]])

In [115]:
y = np.arange(0,30)
y

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [117]:
y = y.reshape(3,10)
y

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]])

In [120]:
x = np.linspace(0,4,9)
x

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ])

In [124]:
np.diag(x)

array([[ 0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 0. ,  0.5,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 0. ,  0. ,  0. ,  1.5,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 0. ,  0. ,  0. ,  0. ,  2. ,  0. ,  0. ,  0. ,  0. ],
       [ 0. ,  0. ,  0. ,  0. ,  0. ,  2.5,  0. ,  0. ,  0. ],
       [ 0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  3. ,  0. ,  0. ],
       [ 0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  3.5,  0. ],
       [ 0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  4. ]])

In [125]:
x

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ])

In [127]:
np.array([1,2,3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [128]:
np.repeat([1,2,3],4)

array([1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3])

In [137]:
p = np.ones([2,3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [138]:
np.vstack([p,2*p])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

np.hstack([p,2*p])